In [ ]:
arr_size=int(input("Enter List Size: "))
arr=[]
for i in range(arr_size):
  arr.append(int(input(f"Enter Number {i+1} :")))
print ("Main Arr:",arr)
arr.sort()
print("ascending Sorting:",arr)
arr.sort(reverse=True)
print("descending Sorting:",arr)

Enter List Size: 7
Enter Number 1 :2
Enter Number 2 :7
Enter Number 3 :1
Enter Number 4 :9
Enter Number 5 :56
Enter Number 6 :25
Enter Number 7 :98
Main Arr: [2, 7, 1, 9, 56, 25, 98]
ascending Sorting: [1, 2, 7, 9, 25, 56, 98]
descending Sorting: [98, 56, 25, 9, 7, 2, 1]

In [ ]:

def  modify_list(new_arr):

  new_arr.append(100)
  new_arr.insert(2,999)
  new_arr.remove(50)
  new_arr.pop()
  print(new_arr)
arr=[10,20,30,40,50]
modify_list(arr)

[10, 20, 999, 30, 40]

In [ ]:
arr_size=5
student_info=[]

for i in range(arr_size):
   student_name=input(f"Enter Your Name {i+1}: ")
   student_grade=int(input(f"Enter Your Grade {i+1}: "))
   student_info.append([student_name,student_grade])

print("All Student:",student_info)
Higher_name=student_info[0][0]
Higher_Grade=student_info[0][1]
Lower_name=student_info[0][0]
Lower_Grade=student_info[0][1]
for student_name,student_grade in student_info:
  if student_grade>Higher_Grade:
    Higher_Grade=student_grade
    Higher_name=student_name
  elif student_grade<Lower_Grade:
    Lower_Grade=student_grade
    Lower_name=student_name
print("Higher student Name:",Higher_name,"Got",Higher_Grade)
print("Lower student Name:",Lower_name,"Got",Lower_Grade)

Enter Your Name 1: mohamed
Enter Your Grade 1: 100
Enter Your Name 2: ahmed
Enter Your Grade 2: 90
Enter Your Name 3: fawzy
Enter Your Grade 3: 99
Enter Your Name 4: ahmed
Enter Your Grade 4: 80
Enter Your Name 5: mohamed
Enter Your Grade 5: 98
All Student: [['mohamed', 100], ['ahmed', 90], ['fawzy', 99], ['ahmed', 80], ['mohamed', 98]]
Higher student Name: mohamed Got 100
Lower student Name: ahmed Got 80

In [80]:
def  modify_list(new_arr):

  new_arr.append("kiwi")
  new_arr.insert(2,"grape")
  new_arr[0]=new_arr[0].upper()
  new_arr.pop(1)
  print(new_arr)
arr=["apple","banana","kiwe","melon","mango"]
modify_list(arr)

['APPLE', 'grape', 'kiwe', 'melon', 'mango', 'kiwi']

In [ ]:
size=3
person_info=[]
for i in range(size):
  name=input("Enter Your Name: ")
  age=int(input("Enter Your Age: "))
  person_info.append([name,age])
print("All persons:",person_info)


for name,age in person_info:
  if age<18:
    stats="Young"
  elif age<=60:
    stats="Adult"
  else:
    stats="Senior"
  print(f"{name} {age} Years Old: {stats}")

Enter Your Name: ahmed
Enter Your Age: 15
Enter Your Name: Mohamed
Enter Your Age: 19
Enter Your Name: ali
Enter Your Age: 71
All persons: [['ahmed', 15], ['Mohamed', 19], ['ali', 71]]
ahmed:15 Years Old: Young
Mohamed:19 Years Old: Adult
ali:71 Years Old: Senior

In [ ]:
size=10
temp=[]
for i in range(size):
  value=int(input(f"Enter Temperature {i+1}: "))
  temp.append(value)
print(temp)
count_above30=0
count_below15=0
count_between15_30=0
for value in temp:
  if value>=30:
    count_above30=count_above30+1
  elif value<=15:
    count_below15=count_below15+1
  else:
    count_between15_30=count_between15_30+1
print("Your have ",count_above30," Temperature above 30")
print("Your have ",count_below15," Temperature below 15")
print("Your have ",count_between15_30," Temperature between 15-30")

Enter Temperature 1: 10
Enter Temperature 2: 11
Enter Temperature 3: 20
Enter Temperature 4: 30
Enter Temperature 5: 40
Enter Temperature 6: 50
Enter Temperature 7: 60
Enter Temperature 8: 70
Enter Temperature 9: 80
Enter Temperature 10: 90
[10, 11, 20, 30, 40, 50, 60, 70, 80, 90]
Your have  7  Temperature above 30
Your have  2  Temperature below 15
Your have  1  Temperature between 15-30

In [55]:

#how to make it with for loop ?
def remove_all_occurrences(arr,value):
  print("Main Array:",arr)
  while value in arr:
    arr.remove(value)

  print("Array after remove",value,":",arr)
arr=[10,20,30,20,20]
value=int(input("Enter Value you want to delete from list: "))
remove_all_occurrences(arr,value)

Enter Value you want to delete from list: 20
Main Array: [10, 20, 30, 20, 20]
Array after remove 20 : [10, 30]

In [60]:
computer_nubmer=42
count_attempts=0

while True:
  user_number=int(input("Guss The Number: "))
  count_attempts=count_attempts+1
  if user_number>computer_nubmer:
    print("Too High")
  elif user_number<computer_nubmer:
    print("Too Low")
  else:
    print("You Got it")
    print("Number of Attempts:",count_attempts)
    break

Guss The Number: 22
Too Low
Guss The Number: 25
Too Low
Guss The Number: 45
Too High
Guss The Number: 43
Too High
Guss The Number: 42
You Got it
Number of Attempts: 5

In [77]:
List=[]
while True:
  print("=============")
  print("1-Add item ")
  print("2-Remove item by name")
  print("3-Show sorted list")
  print("4-Show List")
  print("5-Exit")
  print("=============")
  choice=int(input("Enter Your Choice: "))


  if choice==1:
    item=input("Enter Item: ")
    if item:
      List.append(item)
      print("Item Added Succsufly")
    else:
      print("Item Name Empty Try Again")

  elif choice==2:
    item=input("Enter Item: ")
    if item in List:
      List.remove(item)
      print("Item Removed Succsufly")
    else:
      print(item,"Cant Found on the List")
  elif choice==3:
    List.sort()
    print("Sorted List:",List)
  elif choice==4:
    print("List:",List)
  elif choice==5:
    print("Bye Bye")
    break
  else:
    print("Invalid Choice")

=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 1
Enter Item: melon
Item Added Succsufly
=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 1
Enter Item: apple
Item Added Succsufly
=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 1
Enter Item: mango
Item Added Succsufly
=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 4
List: ['melon', 'apple', 'mango']
=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 3
Sorted List: ['apple', 'mango', 'melon']
=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 2
Enter Item: melon
Item Removed Succsufly
=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 4
List: ['apple', 'mango']
=============
1-Add item
2-Remove item by name
3-Show sorted list
4-Show List
5-Exit
=============
Enter Your Choice: 5
Bye Bye

In [17]:
Citys=[]
size=7
for i in range(size):
  Citys_Name=input(f"Enter City Name {i+1}: ")
  Citys.append(Citys_Name)


print("All Citys:",Citys)
for i in range(size):
  print("Lenth of",Citys[i],":",len(Citys[i]))

Enter City Name 1: Cairo
Enter City Name 2: Alex
Enter City Name 3: Bor Saied
Enter City Name 4: zagzig
Enter City Name 5: sarhea
Enter City Name 6: asyot
Enter City Name 7: tokyo
All Citys: ['Cairo', 'Alex', 'Bor Saied', 'zagzig', 'sarhea', 'asyot', 'tokyo']
Lenth of Cairo : 5
Lenth of Alex : 4
Lenth of Bor Saied : 9
Lenth of zagzig : 6
Lenth of sarhea : 6
Lenth of asyot : 5
Lenth of tokyo : 5